.card {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
	background-color: #ffffff;
	border-radius: 1.2rem;
	width: 80%;
	height: 620px;
}

@media screen and (max-width: 450px) {
	.card {
		width: 96%;
		height: 560px;
	}
}