.hero-image-section {
	display: flex;
}

.hero-image-section > img {
	height: 100%;
	width: 100%;
	display: flex;
	position: relative;
	cursor: pointer;
	opacity: 0.85;
	transform: scale(1.01);
	transition: all 0.3s ease-out;
}

.hero-image-section > img:hover {
	opacity: 1;
	transform: scale(1);
}

.arrow-back {
	display: flex;
	position: absolute;
	cursor: pointer;
	top: 60px;
	left: 65px;
	z-index: 999;
	color: #cfcfcf;
	transition: 0.5 all ease-out;
}

.arrow-back:hover {
	color: #ffffff;
	font-size: 101%;
}

.arrow-back > i{
	font-size: 400%;
}

.arrow-back > .arrow-back-text{
	margin: 18px 10px;
	font-size: 150%;
}

@media screen and (max-width: 450px) {
	.arrow-back {
		top: 40px;
		left: 25px;
	}
}

@media screen and (max-width: 350px) {
	.arrow-back {
		top: 40px;
		left: 25px;
	}

	.arrow-back > i {
		font-size: 300%;
	}

	.arrow-back > .arrow-back-text {
		margin: 12px 10px;
		font-size: 130%;
	}
}
