.hero-image-section {
	display: flex;
}

.hero-image-section > img {
	height: 80%;
	width: 100%;
	display: flex;
}

.arrow-back {
	display: flex;
	position: relative;
	cursor: pointer;
	top: 12%;
	right: 30%;
	color: #cfcfcf;
	transition: 0.5 color ease-out;
}

.arrow-back:hover {
	color: #ffffff;
	font-size: 101%;
}

.arrow-back > i{
	font-size: 400%;
}

.arrow-back > .arrow-back-text{
	margin: 18px 10px;
	font-size: 150%;
}

@media screen and (max-width: 450px) {
	.arrow-back {
		top: 100px;
	}
}

@media screen and (max-width: 350px) {
	.arrow-back > i {
		font-size: 300%;
	}

	.arrow-back > .arrow-back-text {
		margin: 12px 10px;
		font-size: 130%;
	}
}
