@font-face {
	font-family: nuOrder-regular;
	src: url("../../media/NuOrder\ Regular.ttf");
}

.category-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 98px;
	border-bottom: 1px solid #472681;
}

.category-item > .category {
 font-family: nuOrder-regular;
 font-size: 200%;
 color: #472681;
}

.category-item > .icon {
	font-size: 400%;
  color: #472681;
}

.category-item:hover {
	background-color: #f8f8f8;
	cursor: pointer;
}

@media screen and (max-width: 350px) {
	.category-item > .category {
		font-size: 180%;
	}

	.category-item {
		height: 88px;
	}
}