@font-face {
	font-family: nuOrder-Black;
	src: url("../../media/NuOrder\ Heavy.ttf");
}

.card-categories {
	display: flex;
	flex-direction: column;
	width: 85%;
	height: 310px;
	margin-top: 20px;
}

.card-categories-title {
	font-family: nuOrder-Black;
	font-size: 120%;
	color: #472681;
}

@media screen and (max-width: 350px) {
	.card-categories-title {
		font-size: 110%;
	}
}