@font-face {
	font-family: nuOrder-Black;
	src: url("../../media/NuOrder\ Heavy.ttf");
}

.card-categories {
	display: flex;
	flex-direction: column;
	width: 85%;
	height: 20rem;
	margin-top: 2rem;
}

.card-categories-title {
	font-family: nuOrder-Black;
	font-size: 1.1rem;
	color: #472681;
}